:root {
    --White: hsl(0, 0%, 100%);
    --Lightpink: hsl(275, 100%, 97%);
    --Grayishpurple: hsl(292, 16%, 49%);
    --Darkpurple: hsl(292, 42%, 14%);
    --fuente: "Work Sans", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 200px;
    background: url('assets/images/background-pattern-desktop.svg');
    background-color: var(--Lightpink);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: var(--fuente);
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    margin-top: 100px;
    width: 600px;
    background-color: var(--White);
    border-radius: 20px;
}

#titleStar {
    width: 20px;
    margin-right: 15px;
}

.container__content {
    position: relative;
    display: flex;
    font-size: 1.3em;
    margin: 1px 30px;
    font-weight: 800;
}

.content__question {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1px 30px;
    font-weight: 600;
}

.answer {
    display: none;
    color: var(--Grayishpurple)
}

@media screen and (max-width:375px) {
    .content__question {
        flex-direction: column;
        
    }

    .content__question .question__plus {
        margin-left: auto;
        
    }

    .answer {
        display: none;
        flex-direction: column;
    }
}