:root{
--Grey: hsl(0, 0%, 20%);
--DarkGrey: hsl(0, 0%, 12%);
--OffBlack: hsl(0, 0%, 8%);
--Green: hsl(75, 94%, 57%);
}

body{
    padding: 0;
    margin: 0;
    font-size: 14px;
    background: var(--OffBlack); 
    font-family: "Inter", sans-serif;  
}
p,
h3{
    color:white;
}
img{
    width: 100px;
    border-radius: 90px;
    margin-top: 10px;
}

.container{
    display: flex;    
    flex-direction: column;
    background:var(--DarkGrey);
    margin:120px;
    height: 100%;
    border-radius: 10px;
    align-items: center;
}
.container__name{
    display: inline;
    font-size: 25px;
    height: 40px;
}
.container__pais p{
    color: var(--Green)
}
.social-media__item{
    display: flex;
    flex-grow: 1;
    color: white;
    height: 20px;
    width: 90%;
    padding: 10px;
    background-color: rgba(51,51,51,255);
    margin-top: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.social-media__item:hover{
    background-color: var(--Green)
    
}
.attribution{
    color: white;
    margin: 10px;
}
@media screen and (max-width: 590px ) {
    .container{
        margin: 30px;
    }
    .social-media__item{
        padding-inline: 0;
    }
}


